<nav class="navbar navbar-expand-sm ">
    <div class="container-fluid">
        <a class="navbar-brand" routerLink='/home' routerLinkActive="router-link-active">Movies</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <div class="d-flex">
            <input #txtsearch (keyup.enter)="searchMovies(txtsearch.value)" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button (click)="searchMovies(txtsearch.value)" class="btn btn-outline-success" type="submit">Search</button>
        </div>

    </div>
</nav>
